.home {
    background-color: rgba(207,207,207,0.6);
}

.card {
    height: 736px;
    width : 1240px;    
    border: 1px solid red;
    box-shadow: 0 4px 20px 0 rgba(20,100,0,0.6);
    border-radius: 20px;
} 

b {
    border: 1px solid red;
    font-size: 125%;
    color: #C43341;
}