.home {
    background-color: rgba(207,207,207,0.6);
    display:grid;
    position: relative;
    /*justify-content: center;*/
    justify-items: center;
    //align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px,994px) [card -e];
}

.header {
    align-self: center;
    &__skew {
        -webkit-clip-path: polygon(0,0,100% 0%,100% 25%,0 50%);
        clip-path: polygon(0 0,100% 0%,100% 25%, 0 50%);
        z-index: -10;
        top: 0;
        left:0;
        position: absolute;
        height: 110vh;
        width : 100vw;
        background-color: #444444;
    };
    &__border {
        -webkit-clip-path: polygon(0,0,100% 0%,100% 25%,0 50%);
        clip-path: polygon(0 48%,100% 23%,100% 25%, 0 50%);
        z-index: -10;
        top: 0;
        left:0;
        position: absolute;
        height: 110vh;
        width : 100vw;
        background-color: #00cb79;
    }
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    h1{
        //font-family: 'Montserrat';
        //color: white;
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        //text-align: center;
    }

    p{
        color: rgba(255,255,255,0.75);
        font-size: 20px;
        font-weight: 300;
        line-height: 19px;
        width: 600px;
    }
}

.card {
    //min-height: 736px;
    height: 994px;
    width : 1240px;    
    border: 1px solid red;
    box-shadow: 0 4px 20px 0 rgba(20,100,0,0.6);
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 50px;
    background-color: whitesmoke;
    
    &__inputs {
        display:grid;
        grid-template-rows: repeat(4,27px);
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        align-items: center;    
        grid-row-gap: 110px;
        margin-top: 66px;
        margin-left: 83px;
        margin-right: 83px;
    }
} 

.input {
    display:grid;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    height: 47px;
    //grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
    grid-column-gap: 8px;

    &__title {
       grid-column: input-s/input-e;
       font-size: 15px;
       font-style: italic;
       margin-top: 6px;
    }
    input {
        grid-column: input-s/input-e;
        //border-color: aquamarine;
        border: none;
        width: 190px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Montserrat'; 
        padding: 5px 0;
        border-bottom: 1px solid #cacaca;
        transition: all 1.8s ease;

        &:focus {
            outline: none;
            border-bottom: 3px solid #00cb79;
        }
    }
    &__number {
        grid-column: number-s/number-e;
        background-color: #00cb79;
        border-radius: 50%;
        text-align: center;
        padding-top: 8%;
        color: white;
        font-family: 'Montserrat';
        height: 25px;
        width: 30px;
        
    }
}

b {
    border: 1px solid red;
    font-size: 125%;
    color: #C43341;
}